<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hello
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet")
  body
    header
      h1.welcome Welcome to Turtle.
    main
      section.maincontent
        p Here is some text.
    footer
      p.siteinfo Copyright 2017
  script(src="/js/app.js")
